@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

.attribution {
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--gray);
}

body {
    margin: 0;
    background-color: var(--white);
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.no-overflow {
    overflow: hidden;
}

.main {
    width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: var(--gray);
    transition: color .3s ease-in-out;
}

.button {
    display: block;
    width: fit-content;
    padding: 14px 22px;
    color: var(--gray);
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 15px;
    transition: .3s ease-in-out;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.button--ghost {
    border-color: transparent;
}

.button--fill {
    background-color: var(--black);
    color: var(--white);
}


@media (hover: hover) {
    .link:hover {
        color: var(--black);
    }

    .button:hover {
        color: var(--black);
    }

    .button--fill:hover {
        background-color: transparent;
    }
}

.link:active {
    color: var(--black);
}

.burger-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 32px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 3;
}

.burger-button[aria-expanded="false"] {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h32v2H0zm0 8h32v2H0zm0 8h32v2H0z' fill='%23151515' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.burger-button[aria-expanded="true"] {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23151515' fill-rule='evenodd'%3E%3Cpath d='m2.393.98 22.628 22.628-1.414 1.414L.979 2.395z'/%3E%3Cpath d='M.98 23.607 23.609.979l1.414 1.414L2.395 25.021z'/%3E%3C/g%3E%3C/svg%3E");
}

/* header */
.header {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* navigation */

.nav__inner-wrapper {
    position: fixed;
    z-index: 2;
    width: 240px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 70px 25px 124px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 1;
    scale: 1;
    opacity: 1;
    background-color: rgba(0 0 0 / .6);
    transition: opacity .3s ease-in-out;
}

.burger-button[aria-expanded="false"]+.nav__inner-wrapper+.backdrop {
    scale: 0;
    opacity: 0;
}

.burger-button[aria-expanded="false"]+.nav__inner-wrapper {
    right: -100%
}

.nav__inner-wrapper .button {
    width: 100%;
}

.nav__inner-wrapper .button:first-of-type {
    margin-top: 13px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__list .link {
    display: inline-block;
    padding-block: 12px;
    border-radius: 4px;
    outline-color: var(--black);
    outline-offset: -3px;
    perspective: 1000px;
}

.nav__list .shevron {
    display: inline-block;
    width: 10px;
    height: 1ch;
    margin-left: 1ch;
    background: url('./images/icon-arrow-down.svg') no-repeat center;
    transition: transform .3s ease-in-out;
    transform-style: preserve-3d;
}

.nav__list [aria-expanded="true"] .shevron {
    transform: rotateX(180deg);
}

.nav__list li ul {
    list-style: none;
    margin: 7px 0 0 20px;
    padding: 0;
}

#features-list li a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background: no-repeat center;
    background-size: cover;
    vertical-align: text-bottom;
}

#features-list li:nth-of-type(1) a::before {
    background-image: url('./images/icon-todo.svg');
}

#features-list li:nth-of-type(2) a::before {
    background-image: url('./images/icon-calendar.svg');
}

#features-list li:nth-of-type(3) a::before {
    background-image: url('./images/icon-reminders.svg');
}

#features-list li:nth-of-type(4) a::before {
    background-image: url('./images/icon-planning.svg');
}

[aria-expanded]+ul {
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

[aria-expanded="false"]+ul {
    max-height: 0;
}

[aria-expanded="true"]+ul {
    max-height: 500px;
}

/* hero */
.hero {
    height: calc(100svh - 75px);
}

.hero .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
}

.hero__content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin: 0 0 20px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--black);
}

.hero__description {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.05em;
    text-align: center;
}

.hero__content .button {
    margin-bottom: 48px;
}

.hero__content .partners {
    display: flex;
    gap: 28px;
    align-items: center;
}

img {
    display: block;
}

@media (min-width: 690px) {
    .container {
        padding-inline: 9px;
    }

    .hero .container {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
    }

    .hero__content {
        align-items: start;
        width: 60%;
        max-width: 510px;
        padding: 0 0 0 36px;
    }

    .hero__title,
    .hero__description {
        text-align: left;
    }
}

@media (min-width: 1000px) {

    .hero__title {
        margin-bottom: 47px;
        font-size: 79px;
        letter-spacing: 0;
    }

    .hero__description {
        margin: 0 0 49px;
        line-height: 1.6;
        letter-spacing: 0;
    }

    .button {
        padding: 10px 17px;
    }

    .hero__content .button--fill {
        margin-bottom: 100px;
        padding: 19px 35px;
    }

    .hero__content .partners {
        align-items: end;
        gap: 40px;
    }

    .header {
        align-items: center;
        margin-bottom: 48px;
    }

    .home-link {
        margin-right: 60px;
    }

    .nav {
        display: flex;
        width: 100%;
    }

    .nav__inner-wrapper {
        position: static;
        width: 100%;
        padding: 0;
        background-color: none;
        flex-direction: row;
        gap: 20px;
        transition: none;
    }

    .backdrop {
        display: none;
    }

    .burger-button[aria-expanded] {
        display: none;
    }

    .nav__inner-wrapper .button {
        width: fit-content;
    }

    .nav__inner-wrapper .button:first-of-type {
        margin-top: 0;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        gap: 36px;
    }

    .nav__list li {
        position: relative;
    }

    .nav__list li ul {
        overflow: hidden;
        transition: .3s ease-in-out;
        position: absolute;
        z-index: 2;
        padding: 0 24px;
        border-radius: 14px;
        background-color: var(--white);
    }

    .nav__list li [aria-expanded="false"]+ul {
        max-height: 0;
    }

    .nav__list li [aria-expanded="true"]+ul {
        max-height: 500px;
        padding: 14px 24px 20px;
        box-shadow: 0 5px 10px rgba(0 0 0 / .3);
    }

    .nav__list .link {
        padding-block: 10px 15px;
        font-size: 14px;
    }

    #features-list {
        width: 160px;
        right: 0;
    }

    #features-list li a::before {
        width: 16px;
        height: 16px;
        margin-right: 14px;
    }

    #company-list {
        width: 117px;
        left: 0;
        margin-left: 0;
    }

    #features-list .link,
    #company-list .link {
        padding-block: 10px;
    }


}